<div class="as-table m-t-n-sm">
    <div class="centrify main-label">
        <!--ng-show="ticketCarousel.items.length || (!ticketCarousel.items.length && !settings.showAdvertisement.value)"-->
        <div >
            <carousel delay="ticketCarousel.delay"
                      is-active="ticketCarousel.active"
                      items="ticketCarousel.items"
                      item-action="ticketCarousel.itemAction"
                      item-template-url="templates/carousel/ticketItem.html"></carousel>
        </div>

        <!--ng-show="!ticketCarousel.items.length && settings.showAdvertisement.value"-->
        <div class="hidden">
            <carousel delay="advertisementCarousel.delay"
                      is-active="advertisementCarousel.active"
                      items="advertisementCarousel.items"
                      item-action="advertisementCarousel.itemAction"
                      item-template-url="templates/carousel/advertisementItem.html"></carousel>
        </div>

    </div>
</div>